body{
    background-color: rgb(4, 119, 56);
}
.card{
    margin-top: 4%;
    background-color: darkgray;
}
.card-header{
    color: white;
    background-color: rgb(151, 1, 151);
    padding: 1%;
    text-align: center;
}
.card-image{
    width: 10rem;
    height: 10rem;
    float: left;
    padding: 1%;
}
.card-footer{
    margin: 0;
    text-align: center;
}
.contact-info{
    padding: 4%;
    height: auto;
}
.col-sm-3{
    background: rgb(151, 1, 151);
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-info label{
    font-weight:600;
}
.contact-info button{
    background: rgb(151, 1, 151);
    color: #fff;
    font-weight: 600;
    width: 100%;
}
.contact-info button:focus{
    box-shadow:none;
}
.contact-info input{
    width: 100%;
}

