.nav-link{
    float: right;
}
body {
    --stripe: lightgray;
    --bg: gray;
  
    background: linear-gradient(135deg, var(--bg) 25%, transparent 50%) -100px 0,
      linear-gradient(225deg, var(--bg) 25%, transparent 50%) -100px 0,
      linear-gradient(315deg, var(--bg) 25%, transparent 25%),
      linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
  }
.card{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: darkgray;
    width: 80%;
}
.card-header{
    color: white;
    background-color: purple;
    padding: 1%;
    text-align: center;
    width: 100%;
}
.img-fluid{
    width: 50%;
    height: 50%;
    float: left;
    padding: 1%;
}
.img-responsive{
    height: 45%;
    width: 45%;
    padding: 2%;
}
.card-footer{
    margin: 0;
    text-align: center;
    color: white;
    background-color: purple;
    width: 100%;
}
.contact-info{
    padding: 4%;
    height: auto;
    width: 100%;
}
.contact-info label{
    font-weight:600;
}
.contact-info button{
    background: green;
    color: #fff;
    font-weight: 600;

}
.contact-info button:focus{
    box-shadow:none;
}
.contact-info input{
    width: 100%;
}

/* Whenscreen size is medium to extra small portfolio images will grow to 75% and stack on top of eachother. */
@media only screen and (max-width: 768px) {
    .img-responsive{
        width: 75%;
        height: 75%;
    }
    .img-fluid{
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 575.98px) { 
    .card {
        width: 100%;
    }
 }


